body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: monospace;
  text-align: center;
}

canvas {
  background: #000;
  border: 3px solid #555;
  display: block;
  margin: 10px auto;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 14px 18px;
  font-size: 18px;
  background: #222;
  color: white;
  border: 2px solid #555;
  border-radius: 6px;
}

button:active {
  transform: scale(0.9);
}

#reset {
  margin: 10px;
  background: darkred;
}
